<footer id="footer">
    <div class="inner">
        <ul class="copyright">
            <li><b>&copy; 2017 | Pass Collective</b> | hello@passcollective.org | <a class="button has-no-border" href="https://www.facebook.com/PASScollective/" target="_blank ">
                        <span class="icon "><i class="fa fa-facebook is-size-5 "></i></span>
                    </a>&nbsp;|&nbsp;
                    <a class="button has-no-border" href="https://twitter.com/pass_collective/" target="_blank ">
                        <span class="icon "><i class="fa fa-twitter is-size-5 "></i></span>
                    </a>&nbsp;|&nbsp;
                    <a class="button has-no-border" href="https://www.instagram.com/pass_collective/" target="_blank ">
                        <span class="icon "><i class="fa fa-instagram is-size-5 "></i></span>
                    </a> | <a href="http://jaaga.in">Jaaga</a>, Bangalore, India</li>
        </ul>
    </div>
</footer>
