<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <!-- Menu -->
    <nav id="menu">
      <ul class="links">
        <li><a href="/">home</a></li>
        <li><a href="/about/">about</a></li>
        <li><a href="/team/">team</a></li>
        <li><a href="/exercises/">exercises</a></li>
        <li><a href="/goals/">goals</a></li>
        <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
      </ul>
    </nav>

    <div id="main" class="alt">
      <section id="one">
        <!-- <div class="inner">
          <div class="headline">
            <span id="js-rotating">
                "To go beyond"|
                “A success in an examination”|
                “To move past someone or something that is moving more slowly or in same direction”|
                “A means by which a barrier may be passed or access to a place may be gained”|
                “To go from one quality, state or form to another”|
                “To render a decision or verdict or opinion”|
                “To go from the control, ownership or possession of one person/group to another”|
                “To serve as a medium of exchange”|
                “Move or caused to move in a specified direction”|
                “To identify oneself or be identified as something”|
                “To keep possession of the ball between players and to advance up the field.”|
                “When a player kicks the ball to her/his teammate”|
                "To share with another"
            </span>
          </div>  
        {% if page.url == "/" %}
          </div>
        {% endif %} -->
        
        {{ content }}
      </section>
    </div>

    <!-- Scripts -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/jquery.scrolly.min.js"></script>
    <script src="/assets/js/jquery.scrollex.min.js"></script>
    <script src="/assets/js/skel.min.js"></script>
    <script src="/assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="/assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/morphext.min.js"></script>
    <script>
        $("#js-rotating").Morphext({
            // The [in] animation type. Refer to Animate.css for a list of available animations.
            animation: "fadeIn",
            // An array of phrases to rotate are created based on this separator. Change it if you wish to separate the phrases differently (e.g. So Simple | Very Doge | Much Wow | Such Cool).
            separator: "|",
            // The delay between the changing of each phrase in milliseconds.
            speed: 4000,
            complete: function () {
                // Called after the entrance animation is executed.
            }
        });
    </script>

    {% include footer.html %}
    

  </body>

</html>
